<div class="container-fluid bg-dark">
      <div class="container">
        <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Y</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/Home">Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/Contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/Labbe1234/labbe1234.github.io">Github Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link bg-info btn dropdown-toggle" data-bs-toggle="dropdown" href="/About" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>      
    </div>
  </head>

    <main class="main">
    <section class="menu" id="menu">
      <button>=</button>
      <nav class="navbar menu-content container-fluid " data-bs-theme="dark">
        <h1 class="text-light">LOGO</h1>
        <div>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light" href="/Home">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/Contact">Contact
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://github.com/Labbe1234/labbe1234.github.io">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/About">About
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>